<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <servlet-name>jakarta.ws.rs.core.Application</servlet-name>
  </servlet>
  <servlet-mapping>
    <servlet-name>jakarta.ws.rs.core.Application</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GestorTareasSrv</display-name>
    <servlet-name>GestorTareasSrv</servlet-name>
    <servlet-class>org.zabalburu.gt.GestorTareasSrv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestorTareasSrv</servlet-name>
    <url-pattern>/GestorTareasSrv</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>org.zabalburu.gt.ServerListener</listener-class>
  </listener>
  <filter>
    <display-name>ServletFilter</display-name>
    <filter-name>ServletFilter</filter-name>
    <filter-class>org.zabalburu.gt.ServletFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ServletFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>